
.bpMessageContainer {
    opacity:0.3;
}


.bpMessageContainer[data-direction=incoming]:last-of-type:before {
    content: '';
    position: absolute;
    font-size:1rem;
    top: 0;
}


.bpMessageContainer[data-direction=incoming]:last-of-type .bpMessageBlocksBubble {
    width:-webkit-fill-available;
    background: none!important;
    max-width: none;
}

.bpMessageContainer[data-direction=incoming]:last-of-type .bpMessageAvatarContainer {
    display: none!important;
}




.bpMessageContainer[data-direction=incoming]:has(.bpTypingIndicatorContainer):last-of-type {
    background-color:red;
    aspect-ratio:1;
    width:10rem;
    left:auto;
    right:0;
}

.bpMessageContainer[data-direction=incoming]:has(.bpTypingIndicatorContainer):last-of-type:before {
    content:"dit is een lampje";
}

.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type .bpMessageBlocksRow {
    width:100%;
    display:flex;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type button {
    width: 45%;
    padding: 3rem;
}


.bpContainer {
  
    background-color: transparent!important;
}

.bpMessageBlocksDropdownContentContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: orange!important;
    width:30vw;
    padding: 1em!important;
    justify-content: space-between;
    align-content: flex-start;
}

.bpMessageBlocksDropdownContentContainer > div {
    background-color:white;
    padding: 1.8rem;
}