:root {
    --outline-width: .14vh;
      --outline-width-neg:calc(-1 * var(--outline-width));
      --color-brand:#fbba00;
    }

    body {
        background-image: url("../images/bg.jpg");
        background-size: 100%;
        width: 100%;
        height: 100%;
        font-family: "bg",Helvetica,Arial;
        color:white;
      }


    
    button.btn {
        background-color: transparent!important;
        border: 2rem solid;
        border-image: url("../images/btn_up.png") 110 fill;
        /* mix-blend-mode: multiply; */
        background-blend-mode: multiply;
        transition:0.2s;
        padding:1rem;
        color:white;
    }
    
    input[type=text],
    .form-group textarea,
    .form-group textarea:focus {
      border: 0.4rem solid;
      border-image: url("../images/btn_down.png") 40 stretch;
      background-color: #36312f;
      color: var(--color-brand)!important;
      outline:none;
      resize: none;
      box-shadow: inset 0 0 2vh #fb6a0078;
      text-shadow: 0 0 1vh #fb7000;
      text-transform: uppercase;
      padding: 2vh;
    } 
    
    ::placeholder { 
    color: #b74a13!important;
    }
    
    button.btn:active,
    button.btn:hover{
    border-image-source: url("../images/btn_down.png");
    mix-blend-mode: hard-light;
        padding-top:1.2rem;
      padding-bottom:0.8rem;
    }
    
   
    
    #screen {
      position: fixed;
      left: 10vh;
      top:10vh;
      height:80vh;
      aspect-ratio: 1;
      background-image: url("../images/screen.png");
      background-size: contain;
    
    }
    
    #screen:before,
    #screen:after,
    #screen *:before,
    #screen *:after,
    .video-player:before,
    .video-player:after,
    .video-player *:before,
    .video-player *:after {
      content:"";
     width:100%;
     height:100%;
     position:absolute;
     top:0;
     left:0;
    }
    
    #screen:after {
        background-image: url("../images/shine.png");
        background-repeat:no-repeat;
        background-size:60%;
        background-position:center 20%;
        mix-blend-mode: overlay;
        z-index: 10;
    }
    
    .video-player {
      width: 61vh;
      aspect-ratio: 1;
      left: 10vh;
      position: absolute;
      top: 9vh;
      border-radius: 3vh;
      border: #4d3535 1vh solid;
      background: #432c2f;
      /* mix-blend-mode: overlay; */
      pointer-events: none;
    }
    
    .video-player video {
      mix-blend-mode: lighten;
      object-fit: cover;
      width:100%;
      height:100%;
      border-radius: 2vh;
      filter: brightness(1.1) contrast(1);
    }
    
    .video-player:before {
      box-shadow: 0 0 20vh #ff7600;
      mix-blend-mode: overlay;
      opacity: .7;
      border-radius: 2vh;
      background: url(../images/crt.jpg);
      background-size: cover;
      z-index: 10;
      opacity: .4;
    }
    
    .video-player:after {
     box-shadow: inset 0 0 10vh #fbba00ed;
     mix-blend-mode: lighten;
     opacity: .4;
     border-radius: 2vh;
    }
    
    
    /**** UI ****/
    
    #root {
      position: absolute;
    }
    
    .main-container {
      margin:0;
      padding:1vw;
      padding-left: 51vw;
      width: 100vw;
    }
    
    
    
    .bpMessageContainer[data-direction=incoming]:last-of-type {
     position: fixed;
     bottom:20vh;
     left:20vh;
     font-size: 1.5rem;
     line-height: 1em;
     width:60vh;
     gap:1em;
     padding:2rem;
     opacity:1;
     color: #f0f0f0;
     text-shadow:var(--outline-width) var(--outline-width) 0 black, var(--outline-width-neg) var(--outline-width-neg) 0 black, var(--outline-width) var(--outline-width-neg) 0 black, var(--outline-width-neg) var(--outline-width) 0 black;
     mix-blend-mode: hard-light;
     /* filter: blur(0.6px); */
    }
    
    .bpMessageContainer[data-direction=incoming] .bpMessageBlocksBubble {
      color: inherit!important;
    
    }