:root {
  --outline-width: 0.14vh;
  --outline-width-neg: calc(-1 * var(--outline-width));
  --color-brand: #fbba00;
  --screen-x: 5vh;
  --screen-y: var(--screen-x);
  --screen-size: calc(100vh - (var(--screen-x) * 2));
  --border-width: 1vh;
  --border-radius: calc(var(--border-width) * 2.9);
  --screen-x-netto: calc(10vh + var(--border-width));
  --screen-y-netto: var(--screen-x-netto);
  --screen-size-netto: calc(var(--screen-size) - (var(--screen-x-netto) * 2));
}

body {
  background-image: url("../images/bg.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

body,
textarea,
input,
button,
.bpMessageBlocksDropdownContentContainer > div,
.bpMessageContainer[data-direction="incoming"]:last-of-type {
  font-family: "bg", Helvetica, Arial !important;
  color: white;
}

.label {
  padding: 0rem;
  color: black;
  text-align: center;
  border: 1vw solid;
  border-image: url("../images/sign_a.png") 30 fill !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lbl-instructions {
  align-self: start;
}

.label:empty {
  display: none;
}

span:has(button) .label {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}

.frame {
  padding: 2vh;
  color: black;
  text-align: left;
  border: 0.75vw solid;
  min-width: 40%;
  border-image: url("../images/frame.png") 30 fill;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vh;
}

.frame p:before {
  font-weight: normal;
  margin-right: 2vh !important;
}

figure.speaker {
  width: 25vh;
  height: 25vh;
  flex-grow: 0;
  aspect-ratio: 1;
  display: inline-block;
  background-image: url("../images/speaker.png");
  background-size: 100% 100%;
  align-self: end;
}

figure.status {
  height: 3vh;
  width: auto;
  aspect-ratio: 1;
  display: inline-block;
  background-image: url("../images/led_green_off.png");
  background-size: 100% 100%;
  position: relative;
  margin-right: 2vh;
}

figure.status.on {
  background-image: url("../images/led_green_on.png");
}

figure.status.on:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 3vh green;
  border-radius: 100%;
  mix-blend-mode: plus-lighter;
}

figure.status.red {
  background-image: url("../images/led_red_off.png");
}

figure.status.red.on {
  background-image: url("../images/led_red_on.png");
}

figure.status.red.on:after {
  box-shadow: 0 0 3vh red;
}

h1 {
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 2vh !important;
}

p.icon {
  text-align: left;
}

p.icon:before {
  content: "x";
}

p.icon-mic:before {
  content: "\f130";
}

p.icon-wait:before {
  content: "\f254";
}

.hg-button:before,
button:before,
button.btn .fas,
p.icon:before {
  font-family: "fa6";
  margin-right: 0.5vw;
  vertical-align: bottom;
}

button.btn {
  background-color: transparent !important;
  border: 2vh solid;
  border-image: url("../images/btn_up.png") 70 fill !important;
  background-blend-mode: multiply;
  transition: 0.2s;
  color: #6b5c50;
  padding: 3vh;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: bold;
  /* text-shadow: 0 0.1vh 0.1vh #ffffff80, 0 -0.1vh 0.1vh #00000080, 0 0.2vh 0.1vh #ffffff80, 0 -0.2vh 0.1vh #00000080; */
  color: #36312f;
  text-shadow: 0 0 1vh #ded3bb;
  line-height: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frame .icon:before,
button.big-icon:before,
button.btn .fas {
  font-size: 2vw;
  line-height: 1.5vw;
  text-shadow: 0 0.1vh 0.1vh #ffffff80, 0 -0.1vh 0.1vh #00000080,
    0 0.2vh 0.1vh #ffffff80, 0 -0.2vh 0.1vh #00000080;
  color: #787878;
  mix-blend-mode: hard-light;
}

.frame .icon:before {
  text-shadow: 0 0.1vh 0.1vh #00000080, 0 -0.1vh 0.1vh #ffffff80,
    0 0.2vh 0.1vh #00000080, 0 -0.2vh 0.1vh #ffffff80;
}

button.big-icon:before {
  font-size: 10vh;
  line-height: 1;
  margin: 0;
}
button.big-icon {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  border-width: 1vw;
  font-size: 0;
  flex-grow: 0;
  min-height: fit-content;
  justify-content: space-evenly;
}

label,
input[type="text"],
textarea,
textarea:focus {
  border: 0.3vh solid !important;
  border-image: url("../images/btn_down.png") 40 stretch !important;
  background-color: #36312f !important;
  color: var(--color-brand) !important;
  outline: none;
  resize: none !important;
  box-shadow: inset 0 0 2vh #fb6a004f;
  text-shadow: 0 0 1em #fb7000;
  text-transform: uppercase;
  padding: 2vh;
}

::placeholder {
  color: #b74a13 !important;
}

label {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  font-size: 3vh;
  user-select: none;
}

button.btn:not(.toggle-button.stick):active,
button.btn:not(.toggle-button):hover,
.toggle-button.stick.on,
.toggle-button.stick:active {
  border-image-source: url("../images/btn_down.png") !important;
  mix-blend-mode: hard-light;
  padding-top: 3.2vh;
  padding-bottom: 2.8vh;
  text-shadow: 0 0 1vh #575350;
}

.toggle-button {
  vertical-align: middle;
}

.toggle-button.indicator:after {
  content: "";
  background-image: url(../images/led_square_green_off.jpg);
  background-size: 20% 20%;
  box-shadow: inset 0 0.1vh 0.2vh #145d00a3;
  display: inline-block;
  width: 2vh;
  height: 2vh;
  color: #155115;
  margin-right: 3.5vh;
  vertical-align: bottom;
  order: -1;
}

button.big-icon:active {
  padding-top: 2.5vh !important;
  padding-bottom: 2vh !important;
}

.toggle-button.indicator.on:after {
  color: #83ff83;
  text-shadow: 0 0 0.3vh #79ff00;
  background-image: url(../images/led_square_green_on.jpg);
  box-shadow: inset 0 0.1vh 0.2vh #145d00a3, 0 0.1vh 1vh #a5ff8c;
  mix-blend-mode: lighten;
}

.toggle-button.stick:active {
  border-width: 2.5vh;
  padding: 2.5vh;
  filter: brightness(0.8);
  padding-top: 2.8vh;
  padding-bottom: 2.3vh;
}

.toggle-button.stick.big-icon:active {
  padding: 2.25vh;
}
/*
.toggle-button.off:active {
  border-width: 3vh;
  padding:3vh;
  padding-top: 3.2vh;
  padding-bottom: 2.8vh;
  filter:brightness(0.5);
}*/

#screen {
  position: fixed;
  left: var(--screen-x);
  top: var(--screen-y);
  height: var(--screen-size);
  aspect-ratio: 1;
  background-image: url("../images/screen.png");
  background-size: 100% 100%;
}

#screen:before,
#screen:after,
.video-player:before,
.video-player:after,
.video-player *:before,
.video-player *:after,
#shine:after,
#shine:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#screen:after {
}

#subtitles,
#shine,
.video-player {
  width: var(--screen-size-netto);
  aspect-ratio: 1;
  position: absolute;
  left: var(--screen-x-netto);
  top: var(--screen-y-netto);
  border-radius: var(--border-radius);
  pointer-events: none;
}

#shine {
  left: calc(var(--screen-x) + var(--screen-x-netto));
  top: calc(var(--screen-y) + var(--screen-y-netto));
  position: fixed;
  mix-blend-mode: overlay;
  background: url("../images/screen_overlay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100% - (var(--border-width) * 2));
  border-radius: var(--border-radius);
  box-shadow: 0 0 20vh #ff76009e;
  transition: box-shadow 1s;
}

.off #shine {
  box-shadow: 0 0 0 #373737;
}

#shine:before {
  mix-blend-mode: overlay;
  opacity: 0.4;
  border-radius: var(--border-radius);
  background: url(../images/crt.jpg);
  background-size: cover;
  z-index: 10;

  left: var(--border-width);
  top: var(--border-width);
  width: calc(100% - var(--border-width) * 2);
  height: calc(100% - var(--border-width) * 2);
  transition: opacity 0.2s ease-in;
}

.off #shine:before {
  opacity: 0;
}

#shine:after {
  background-image: url("../images/shine.png");
  background-repeat: no-repeat;
  background-size: 81%;
  background-position: center 3%;
  mix-blend-mode: overlay;
  z-index: 20;
}

.video-player {
  border: solid var(--border-width) transparent;
  background: #432c2f;
  /* mix-blend-mode: hard-light; */
  border-radius: var(--border-radius);
  transition: opacity 0.1s ease;
}

.off .video-player {
  opacity: 0;
}

.video-player video {
  mix-blend-mode: lighten;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  filter: brightness(1.1) contrast(1);
}

#screen #subtitles {
  color: #f5f3f3;
  position: absolute;
  display: flex;
  align-items: flex-end;
  font-size: 2.5vh;
  padding: 6vh;
  text-shadow: var(--outline-width) var(--outline-width) 0 black,
    var(--outline-width-neg) var(--outline-width-neg) 0 black,
    var(--outline-width) var(--outline-width-neg) 0 black,
    var(--outline-width-neg) var(--outline-width) 0 black;
  font-weight: bold;
  text-align: left;
  line-height: 1.3;
  transition: 0.2s opacity;
  flex-direction: row;
  gap: 1vh;
  mix-blend-mode: hard-light;
}

#screen #subtitles.outgoing {
  justify-content: flex-end;
  color: var(--color-brand);
}

body:not(.subtitles) #screen #subtitles {
  opacity: 0;
}

.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksRow
  ):last-of-type:before,
.video-player:after {
  box-shadow: inset 0 0 10vh #fbba00ed;
  mix-blend-mode: lighten;
  opacity: 0.4;
  border-radius: 2vh;
}

/**** UI ****/

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vh;
  padding-top: 9vh;
  height: calc(var(--screen-size));
  align-items: stretch;
  align-content: stretch;
}

.controls > * {
  /* order:99; */
  flex-grow: 1;
}

.controls > span {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1vh;
  align-self: flex-end;
}

.controls span:has(#toggle-person) {
  flex-grow: 0;
  align-self: flex-start;
}

#toggle-person:before {
  content: "\e533";
}

#toggle-keyboard:before {
  content: "\f11c";
}

#toggle-subtitles:before {
  content: "\e1de";
}

#toggle-keyboard,
#toggle-subtitles {
  flex-grow: 1;
  order: -1;
}

#toggle-keyboard:before,
#toggle-subtitles:before {
  font-size: 7vh;
}

#lbl-person {
  width: auto;
  padding: 0 1vh;
  text-transform: uppercase;
  font-weight: bold;
}

#root {
  position: absolute;
  width: 100vw;
  aspect-ratio: 16/9;
  top: 0;
  min-height: 100vh;
  left: 0;
}

.main-container {
  margin: 0 !important;
  padding: 2vw;
  padding-left: calc(var(--screen-size) + var(--screen-x) + 2vw);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bpMessageContainer[data-direction="incoming"] .bpMessageBlocksBubble {
  color: inherit !important;
  font-family: inherit;
}

.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksRow
  ):last-of-type,
.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksDropdownButtonContainer
  ):last-of-type {
  background: #432c2f;
  color: var(--color-brand);
  font-weight: normal;
  line-height: 1.3;
  aspect-ratio: 1;
  padding: 6vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-content: center;
  mix-blend-mode: normal;
  border-radius: 2vh;
  position: fixed;
  left: calc(var(--screen-x) + var(--screen-x-netto));
  top: calc(var(--screen-y) + var(--screen-y-netto));
  width: var(--screen-size-netto);
  font-size: 3vh;
  line-height: 1.5;
}
.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksRow
  ):last-of-type:before,
.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksRow
  ):last-of-type:after,
.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksDropdownButtonContainer
  ):last-of-type:before,
.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksDropdownButtonContainer
  ):last-of-type:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksRow
  ):last-of-type
  .bpMessageBlocksRow {
  width: 100%;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4vh;
  gap: 2vh;
}

.bpMessageBlocksDropdownContentContainer > div,
.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksRow
  ):last-of-type
  button {
  width: auto;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--color-brand);
  border: 0.3vh solid var(--color-brand);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vh;
  line-height: 1;
  flex-grow: 1;
  max-width: 46%;
  border-radius: 1vh;
  text-align: center;
}

.bpMessageBlocksDropdownContentContainer > div:hover,
.bpMessageContainer[data-direction="incoming"]:has(
    .bpMessageBlocksRow
  ):last-of-type
  button:hover {
  background-color: #ffbd0070;
  color: black;
}

/*** UI SCREEN ***/
.bpMessageContainer[data-direction="incoming"]:last-of-type
  .bpMessageBlocksBubble {
  width: 100%;
  background: none !important;
  max-width: none;
}

.bpMessageContainer[data-direction="incoming"]:last-of-type
  .bpMessageBlocksColumn {
  gap: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.bpMessageContainer[data-direction="incoming"]:last-of-type
  .bpMessageAvatarContainer {
  display: none !important;
}

.bpMessageBlocksDropdownButtonContainer {
  max-width: none !important;
  width: 100%;
  background-color: var(--color-brand) !important;
  color: black;
  font-weight: bold;
  border: 0 !important;
}

.bpMessageBlocksDropdownContentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: orange !important;
  width: 20vw;
  padding: 1em !important;
  justify-content: space-between;
  align-content: flex-start;
}

.bpMessageBlocksDropdownContentContainer {
  background-color: transparent !important;
  border: 0 !important;
  mix-blend-mode: plus-lighter;
  opacity: 0.8;
}

/***KEYBOARD***/

body.keyboard .simple-keyboard {
  right: 0;
}

body:not(.keyboard) .simple-keyboard {
  right: -70vw;
  transition-timing-function: cubic-bezier(0, 0.81, 0.08, 0.95);
}

.simple-keyboard {
  transform: scale(75%);
  transform-origin: right;
  transition: 0.5s;
  position: fixed;
}

.simple-keyboard.hg-theme-default {
  background-color: #e3d7cb;
  height: auto;
  left: auto;
  bottom: -2%;
  z-index: 9999;
  box-shadow: 0 0 0.5vh #322013, 0 0 10vh #523723e6;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 1vh;
  padding: 2vh;
}

.simple-keyboard.hg-theme-default .hg-rows {
  /* width: 35vw!important; */
  order: -1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.hg-row {
  border: #36312f 0.3vh solid;
  border-radius: 1vh;
  /* width:auto!important; */
}

.simple-keyboard > span {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1vh;
  width: 40vh;
}
.simple-keyboard textarea {
  flex-grow: 1;
  font-size: 2.5vh;
}

.simple-keyboard #btn-send {
  padding: 1vh;
}

.hg-button {
  border-width: 1vh;
  /* padding:0.3vh!important; */
  font-size: 1.4vh !important;
  border-bottom: 1vh solid !important;
  font-family: "keyboard", Arial;
  margin: 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
  height: 5vh !important;
  border-radius: 3vh !important;
  border-image: url("../images/btn_keyboard_up.png") 26 fill;
  transition: 0.2s;
  color: black;
}
.hg-button:before {
  font-weight: bold;
}

.hg-button-enter {
  height: 11vh !important;
  width: 13vh;
  position: absolute;
  right: 0;
}

.hg-button-enter:before {
  content: "\e2e1";
}

.hg-button-bksp:before {
  content: "\f177";
}

.hg-button-enter:after {
  content: "";
  border: 0.2vh solid black;
  position: absolute;
  width: calc(100% + 2vh);
  height: calc(100% + 2vh);
  border-radius: 1vh;
  background-color: white;
  mix-blend-mode: multiply;
}

.hg-button:active {
  border-image-source: url("../images/btn_keyboard_down.png");
  filter: brightness(0.8);
}

.hg-theme-default .hg-button.hg-standardBtn {
  width: auto !important;
  aspect-ratio: 1;
  flex-grow: 0;
  text-transform: uppercase;
}

.hg-row {
  margin-bottom: 0 !important;
  background: black;
}

.hg-row:nth-child(2) {
  margin-left: 1.5vh;
}

.hg-row:nth-child(3) {
  margin-left: 3vh;
}

.hg-row:nth-child(4) {
  margin-left: 4.5vh;
}

.hg-row:nth-child(5) {
  margin: 0 6vh;
  width: 60%;
}

.hg-theme-default .hg-button.hg-standardBtn span {
  transform: translate(-0.5vh, -0.5vh);
}

.hg-button span {
  transition: inherit;
  transition-property: transform;

  color: black;
}

.hg-button:active span {
  transform: translate(0, 0.1vh);
}

.hg-button.hg-standardBtn:active span {
  transform: translate(-0.5vh, -0.4vh);
}

/****DEBUG****/
#toggle-screen,
#toggle-debug,
#toggle-speaker {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1vh !important;
}

#toggle-screen {
  right: 30vh;
}

#toggle-speaker {
  right: 57vh;
}

body:not(.do-debug) .debug {
  display: none;
}

body:not(.do-debug) .output-display.debug {
  position: absolute;
  top: 0;
  width: 0vw;
  height: 0vh;
  left: 0;
  display: block;
  color: white;
}
