:root {
    --outline-width: .14vh;
    --outline-width-neg:calc(-1 * var(--outline-width));
    --color-brand:#fbba00;
    --screen-x: 5vh;
    --screen-y:var(--screen-x);
    --screen-size:calc(100vh - (var(--screen-x) * 2));
    --border-width:1vh;
    --border-radius: calc(var(--border-width) * 3);
    --screen-x-netto: calc(9vh + var(--border-width));
    --screen-y-netto:var(--screen-x-netto);
    --screen-size-netto:calc( var(--screen-size) - (var(--screen-x-netto) * 2));
}

body {
    background-image: url("../images/bg.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
}
body,
    .bpMessageContainer[data-direction=incoming]:last-of-type {
    font-family: "bg",Helvetica,Arial;
    color:white;
  }

.label {
  padding: 0rem;
  color:black;
  text-align:center;
  width: 25vw;
  border:1vw solid;
  border-image: url("../images/sign_a.png") 30 fill!important;
}

h1 {
  text-transform:uppercase;
  font-weight:bold!important;
}

p.icon {
   text-align:left; 
}

p.icon:before {
  content:"x";
}

p.icon-mic:before {
  content:"\f130";
}

p.icon-wait:before {
  content:"\f254";
}

button:before,
button.btn .fas,
p.icon:before {
  font-family:"fa6";
  margin-right:0.5vw;
  vertical-align:bottom;
}

button.btn,
.hg-button{
    background-color: transparent!important;
    border: 4vh solid;
    border-image: url("../images/btn_up.png") 110 fill!important;
    background-blend-mode: multiply;
    transition: 0.2s;
    color: #6b5c50;
    padding: 2vh;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: bold;
    /* text-shadow: 0 0.1vh 0.1vh #ffffff80, 0 -0.1vh 0.1vh #00000080, 0 0.2vh 0.1vh #ffffff80, 0 -0.2vh 0.1vh #00000080; */
    color: #36312f;
    text-shadow: 0 0 1vh #ded3bb;
    line-height: 1;
    position: relative;
}


  button.big-icon:before,
    button.btn .fas {
        font-size: 2vw;
        line-height:1.5vw;
        text-shadow: 0 0.1vh 0.1vh #ffffff80, 0 -0.1vh 0.1vh #00000080, 0 0.2vh 0.1vh #ffffff80, 0 -0.2vh 0.1vh #00000080;
        color: #787878;
        mix-blend-mode: hard-light;
    }


 button.big-icon:before {
   font-size:6vw;
   line-height:1;
   margin: 0;
 }
 button.big-icon {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    border-width: 1vw;
    justify-content: center;
    font-size: 0;
    border-image-slice: 77 fill!important;
 }



label,
input[type=text],
textarea,
textarea:focus {
  border: 0.3vh solid!important;
  border-image: url("../images/btn_down.png") 40 stretch!important;
  background-color: #36312f!important;
  color: var(--color-brand)!important;
  outline:none;
  resize: none!important;
  box-shadow: inset 0 0 2vh #fb6a004f;
  text-shadow: 0 0 1vh #fb7000;
  text-transform: uppercase;
  padding: 2vh;
  !;
} 

::placeholder { 
color: #b74a13!important;
}

label {
  display:inline-block;
  width:100%;
  padding:0;
  margin-top:1.5vh;
  margin-bottom:2vh;
  font-size:3vh;
  user-select: none;
}

.hg-button:active,
button.btn:not(.toggle-button.stick):active,
button.btn:not(.toggle-button):hover,
.toggle-button.stick.on,
.toggle-button.stick:active {border-image-source: url("../images/btn_down.png")!important;mix-blend-mode: hard-light;padding-top: 2.2vh;padding-bottom: 1.8vh;text-shadow: 0 0 1vh #575350;}

.toggle-button {
  vertical-align:middle;
}

.toggle-button.indicator:before {
   content: "";
   background-image:url(../images/led_square_green_off.jpg);
   background-size: 20% 20%;
   box-shadow:inset 0 0.1vh 0.2vh #145d00a3;
   display: inline-block;
   width: 2vh;
   height: 2vh;
   color: #155115;
   margin-right: 1.5vh;
   vertical-align: bottom;
}

button.big-icon:active {
  padding-top:0.7vw!important;
  padding-bottom:0.3vw!important;
}

.toggle-button.indicator.on:before {
  color: #83ff83;
  text-shadow:0 0 0.3vh #79ff00;
  background-image:url(../images/led_square_green_on.jpg);
  box-shadow: inset 0 0.1vh 0.2vh #145d00a3, 0 0.1vh 1vh #a5ff8c;
  mix-blend-mode: lighten;
}

.toggle-button.stick:active {
  border-width: 4.5vh;
  padding:1.5vh;
  filter:brightness(0.8);
}

.toggle-button.stick.big-icon:active {
  border-width:3vh;
  padding: 1vh;
}
/*
.toggle-button.off:active {
  border-width: 3vh;
  padding:3vh;
  padding-top: 3.2vh;
  padding-bottom: 2.8vh;
  filter:brightness(0.5);
}*/

#screen {
  position: fixed;
  left: var(--screen-x);
  top: var(--screen-y);
  height: var(--screen-size);
  aspect-ratio: 1;
  background-image: url("../images/screen.png");
  background-size: 100% 100%;
}

#screen:before,
#screen:after,
#screen *:before,
#screen *:after,
.video-player:before,
.video-player:after,
.video-player *:before,
.video-player *:after,
#shine:after,
#shine:before {
  content:"";
 width:100%;
 height:100%;
 position:absolute;
 top:0;
 left:0;
   pointer-events: none;
}



#screen:after {
   
}

#shine,
.video-player {
  width: var(--screen-size-netto);
  aspect-ratio: 1;
  position: absolute;
  left: var(--screen-x-netto);
  top: var(--screen-y-netto);
  border-radius: 3vh;
  pointer-events: none;
}

#shine {
  left: calc( var(--screen-x) + var(--screen-x-netto));
  top: calc( var(--screen-y) + var(--screen-y-netto));
  position: fixed;
  mix-blend-mode: overlay;
  background: url("../images/screen_overlay.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size: calc(100% - (var(--border-width) * 2));
  border-radius: var(--border-radius);

}

#shine:before {
  box-shadow: 0 0 20vh #ff7600;
  mix-blend-mode: overlay;
  opacity: .7;
  border-radius: var(--border-radius);
  background: url(../images/crt.jpg);
  background-size: cover;
  z-index: 10;
  opacity: 0.4;
  left:var(--border-width);
  top:var(--border-width);
  width:calc(100% - var(--border-width) * 2);
  height:calc(100% - var(--border-width) * 2);
}

#shine:after {
    background-image: url("../images/shine.png");
    background-repeat:no-repeat;
    background-size: 81%;
    background-position: center 3%;
    mix-blend-mode: overlay;
    z-index: 20;
}

 .video-player {
  border: #4d3535 var(--border-width) solid;
  background: #432c2f;
  /* mix-blend-mode: hard-light; */
  border-radius: var(--border-radius);
}

.video-player video {
  mix-blend-mode: lighten;
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius: 2vh;
  filter: brightness(1.1) contrast(1);
}



.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type:before,
.video-player:after {
 box-shadow: inset 0 0 10vh #fbba00ed;
 mix-blend-mode: lighten;
 opacity: .4;
 border-radius: 2vh;
}


/**** UI ****/

.controls {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-around;
   align-items: center;
   gap: 2vh;
   padding-top: 9vh;
}

.controls > * {
  order:99;
  flex-grow: 1;
}

#toggle-person {
  order:0;
  /* align-self:stretch; */
  flex-grow: 0;
}

#toggle-person:before {
    content: "\e533";
  
}

#lbl-person {
    width: auto;
    padding: 0 1vh;
    top: 5vh;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
}

#toggle-person {
    order:1;
}

#lbl-instructions {
  order:2;
}

#root {
  /*position: absolute;*/
}

.main-container {
  margin: 0!important;
  padding: 2vw;
  padding-left: calc(var(--screen-size) + var(--screen-x) + 2vw);
  width: 100vw;
}



.bpMessageContainer[data-direction=incoming]:last-of-type {
 position: fixed;
 top: calc(var(--screen-y) + var(--screen-y-netto));
 left: calc(var(--screen-x-netto) + var(--screen-x));
 font-size: 3.5vh;
 line-height: 1em;
 width: var(--screen-size-netto);
 gap:1em;
 
 opacity:1;

 

}

.bpMessageContainer[data-direction=incoming]:has(:not(button)):last-of-type {
  text-shadow:var(--outline-width) var(--outline-width) 0 black, var(--outline-width-neg) var(--outline-width-neg) 0 black, var(--outline-width) var(--outline-width-neg) 0 black, var(--outline-width-neg) var(--outline-width) 0 black;
   mix-blend-mode: hard-light;
   color: #f0f0f0;
  top:auto;
  bottom:calc(var(--screen-y) + var(--screen-y-netto));
  text-align:center;
  padding:5vh;
}

.bpMessageContainer[data-direction=incoming] .bpMessageBlocksBubble {
  color: inherit!important;
    font-family:inherit;

}

.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type,
.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksDropdownButtonContainer):last-of-type {background: #432c2f;color:var(--color-brand);font-weight: normal;line-height:1.3;aspect-ratio:1;padding: 6vh;display: flex;justify-content: center;flex-direction: column;align-content: center;mix-blend-mode: normal;border-radius: 2vh;}
.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type:before,
.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type:after,
.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksDropdownButtonContainer):last-of-type:before,
.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksDropdownButtonContainer):last-of-type:after{
content: '';
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
z-index: 20;
mix-blend-mode: overlay;
pointer-events: none;
}

.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type .bpMessageBlocksRow {
width:100%;
display:flex;
align-content: stretch;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
margin-top:4vh;
gap:2vh;
}


.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type button {
width: auto;
padding: 3rem;
background-color: transparent;
color:var(--color-brand);
outline:0.3vh solid var(--color-brand);
text-transform:uppercase;
font-weight:bold;
font-size:2vh;
line-height:1;
flex-grow: 1;
max-width: 46%;
}

.bpMessageContainer[data-direction=incoming]:has(.bpMessageBlocksRow):last-of-type button:hover {
background-color: #ffbd0070;
color:black;


}

/***KEYBOARD***/

  body.keyboard .simple-keyboard {
    right:0
  }

 body:not(.keyboard) .simple-keyboard {
    right: -70vw;
    transition-timing-function: cubic-bezier(0, 0.81, 0.08, 0.95);
    
    
    
    
    
    +
  }

  .simple-keyboard.hg-theme-default {
     transition:0.5s;
     background-color:#e3d7cb;
     height: auto;
     position:fixed;
     left:auto;
     bottom:10vh;
     z-index: 9999;
     box-shadow:0 0 0.5vh #322013, 0 0 10vh #523723e6;
     width: auto;
     display: flex;
     flex-direction: row;
     gap: 1vh;
     padding: 2vh;
  }

 
  .simple-keyboard.hg-theme-default .hg-rows {
       width: 45vw!important;
       border: #36312f 0.3vh solid;
       border-radius: 1vh;
       order: -1;
  }

.hg-button {
   border-width: 1vh;
   /* padding:0.3vh!important; */
   font-size: 1.4vh!important;
   border-bottom: 1vh solid !important;
   font-family: "keyboard",Arial;
   margin: 0!important;
   background-color:#e3d7cb!important;
   padding: 0!important;
   height: 5vh!important;
   border-image-slice: 80 fill!important;
   border-radius: 1.25vh!important;
   
}

.hg-theme-default .hg-button.hg-standardBtn {
 width: auto!important;
 aspect-ratio:1;
 flex-grow: 0;
}

.hg-row {
   margin:0!important;
  background:black;
}

.hg-button span {
  transform: translate(-0.3vw, -0.3vw);
}





/****DEBUG****/
#toggle-debug {
  position:fixed;
  right:0;
  top:0;
  padding:0vh!important;
}


body:not(.do-debug) .debug {
    display: none;
}

body:not(.do-debug) .output-display.debug {
    display: block;
    height: 50vh;
    position:absolute;
    bottom: -50vh;
    width: 90vw;
    left: 5vw;
}